body, section, form, ul, li, img, label {
	margin:0;
	padding:0;
}

:target 
{
	position: absolute;
	display:block;
	left:40px;
}

body
{
	section
	{
		margin: 20px 40px;	
		ul 
		{
			list-style-type:none;
			& > li 
			{
				display:inline-block;

				ul 
				{
					display:none;
				}	

				a 
				{
					text-decoration:none;
				}
			}
		}
	}
}